{% extends "header.html" %}
{% block content %}
    <h2 class="title">Add New Item</h2>
    <form action="" method="post">
        <div>{{ form.sku.label }}<br>{{ form.sku }}</div>
        <div>{{ form.title.label }}<br>{{ form.title }}</div>
        <div>{{ form.description.label }}<br>{{ form.description }}</div>
        <div>{{ form.category.label }}<br>{{ form.category }}</div>
        <div>{{ form.quantity.label }}<br>{{ form.quantity }}</div>
        <div>{{ form.price.label }}<br>{{ form.price }}</div>
        <div>{{ form.seller.label }}<br>{{ form.seller }}</div>
        <div>{{ form.image.label }}<br>{{ form.image }}</div>
        <div>{{ form.submit() }}</div>
    </form>
{% endblock %}