{% extends "header.html" %}
{% block title %}Checkout{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Checkout</h1>
            <br><br>
            <style>
                div {
                    margin-left: 50px;
                    margin-right: 100px
                }
	        </style>
            <div class="row bg-light align-items-center justify-content-center">

                    <div class="col">
                        <h3>Shipping Address</h3>
                    </div>

                    <div class="col">
                        {{ address.address }}
                    </div>

            </div>
            <hr/>
            <style>
                div {
                    margin-left: 50px;
                    margin-right: 100px
                }
	        </style>
            <div class="row bg-light align-items-center justify-content-center">
                <div class="col">
                    <h3>Payment Method</h3>
                </div>
                <div class="col">
                    {{ card.card }}
                </div>
            </div>
            <hr/>
            <style>
                div {
                    margin-left: 50px;
                    margin-right: 50px
                }
	        </style>
            <div class="row bg-light align-items-center justify-content-center">
                <div class="col">
                <br>
                    <div class="row">
                        <h3>Order Summary</h3>
                    </div>
                    <br>

                    {% for item in cart %}
                        <div class="row">
                            <div class="col">{{ item.title }}</div>
                            <br>
                            <div class="col">{{ item.price }}</div>
                        </div>
                        <hr/>
                    {% endfor %}
                <div class="text-center">
                Total Cost: ${{ totalcost }}
                </div>
                <br>
            </div>
        </div>
        <br>
        <div class="text-center">
            <a href="{{ url_for('place_order') }}">
                <button class="btn btn-secondary btn-lg">Place Order</button>
            </a>
        </div>
    </div>
    </div>

{% endblock %}
