{% extends "header.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2 class="text-center">Edit Profile</h2>
            <form action="" method="post" style="text-align:center" novalidate>
                <div><h4>{{ form.email.label }}</h4><br>{{ form.email }}</div>
                <div><h4>{{ form.password.label }}</h4><br>{{ form.password }}</div>
                <div><h4>{{ form.question.label }}</h4><br>{{ form.question }}</div>
                <div><h4>{{ form.answer.label }}</h4><br>{{ form.answer }}</div>
                <div><h4>{{ form.address.label }}</h4><br>{{ form.address }}</div>
                <div>{{ form.submit() }}</div>
            </form>
        </div>
    </div>
{% endblock %}