{% extends "header.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2 class="text-center">Answer Your Security Question</h2>
            <form action="" method="post" style="text-align:center" novalidate>
                <div><h3> {{ question }}</h3></div>
                <div><h4>{{ form.answer.label }}</h4><br>{{ form.answer }}</div>
                <div>{{ form.submit() }}</div>
            </form>
            <div><h3>Your Password: {{ password }}</h3></div>
        </div>
    </div>
{% endblock %}