{% extends "header.html" %}

{% block title %}Mini Amazon{% endblock %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <form action="" method="post" style="text-align:center" novalidate>
                <div><h1>{{ form.item.label }}</h1></div>
                <br><br>
                <div> {{ form.item(size=50) }}        {{ form.submit() }}</div>
            </form>
        </div>
{% for item in items %}
    <div class="text-center"> <h5>{{item.title}}</h5></div><br>
    <img src="{{ item.image }}" class="img-rounded" width="300"><br>
    <div class="text-center"> Price: {{item.price}}</div>
    <!--div> Seller: {{item.seller}}</div>
    <div> Rating: {{item.rating}}</div><br><br>-->
    <div class="row">
        <div class="col text-center">
            <a href="{{ url_for('item_page', sku=item.sku) }}">
                <button class="btn btn-secondary btn-lg">View Item</button>
            </a>
        </div>
    </div><br><br><br>
{% endfor %}
    </div>
{% endblock %}
