{% extends "header.html" %}
{% block content %}
<a href="{{ url_for('add_item') }}">
<button> Add New Item</button>
</a>
<h3>Items</h3>
{% for item in items %}
    <div id="image"> {{item.image}}</div>
    <script type="text/javascript"> document.getElementById('image_id').src= document.getElementById('image');</script>
    <div><img id="image_id"/></div>
    <div> <b>{{item.title}}</b></div>
    <div> Price: {{item.price}}</div>
    <div> Seller: {{item.seller}}</div>
    <div> Rating: {{item.rating}}</div><br><br>
{% endfor %}
{% endblock %}
