{% extends "header.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2 class="text-center">{{ items.title }}</h2>
            <img src="{{ items.image }}" class="img-rounded" width="400">
            <div> Description: {{items.description}}</div>
            <div> Seller: {{items.seller}}</div>
            <div> Rating: {{items.rating}}</div>
            <div> Price: {{items.price}}</div>
            <div class="row">
                <div class="col text-center">
                    <form action="/addToCart" method="post">
                        <input type="hidden" name="buyer_id" value={{ user }}><br><br>
                        <input type="hidden" name="sku" value={{ items.sku }}><br><br>
                        <input type="submit" value="Add To Cart">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}