{% extends "header.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2 class="text-center">Login</h2>
            <form action="" method="post" style="text-align:center" novalidate> {{ form.csrf_token }}
                <div><h4>{{ form.email.label }}</h4><br>{{ form.email }}</div>
                <div><h4>{{ form.password.label }}</h4><br>{{ form.password }}</div><br>
                <div>{{ form.submit() }}</div>
            </form>
            <br>
            <div class="col text-center">
        <a href="{{ url_for('verify_email') }}">
            <button class="btn btn-secondary btn-sm">Forgot Password</button>
        </a>
            </div>
            <br>
            <div class="col text-center">
        <a href="{{ url_for('create_profile') }}">
            <button class="btn btn-secondary btn-sm">Create Account</button>
        </a>
            </div>
        </div>
    </div>
{% endblock %}