{% extends "header.html" %}
{% block title %}Cart{% endblock %}
{% block content %}
    <div class="container">
    <div class="jumbotron">
    <div class="col">
    <h1 class="text-center">Order {{ info.order_id }}</h1>
    </div>
    <div class="col"><h3>Timestamp: {{ info.time_stamp }}</h3></div>
    <div class="col"><h3>Total Cost: {{ info.total_price }}</h3></div>
    {% for order in orders %}
        <div class="container">
                <div class="row bg-light align-items-center justify-content-center">
                    <div class="col">
                        <img src="{{ order.image }}" class="img-rounded" width="150"><br>
                    </div>
                    <div class="col align-middle">
                        <h4>{{order.title}}</h4><br>
                    </div>
                    <div class="col">
                        Price: {{order.price}}
                    </div>
                    <div class="col">
                        Quantity Ordered: {{order.quantity}}
                    </div>
                </div>
        <hr/>
        </div>

    {% endfor %}
    </div>
    </div>
{% endblock %}