{% extends "header.html" %}
{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Payment Methods</h1>
            <p class="text-center">Type In Payment Information to Save a Credit Card! <br>
            </p>
            <form action="" method="post" style="text-align:center" novalidate> {{ form.csrf_token }}
                <div><h4>{{ form.credit_card.label }}</h4><br>{{ form.credit_card }}</div>
                <div>{{ form.submit() }}</div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <h2 class="text-center">Saved Payment Methods</h2>
            {% for payment in payment_info %}
               <br> <div> Credit Card Number: {{payment.credit_card}} </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
