{% extends "header.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2 class="text-center">Leave a Review</h2>
            <h3 class="text-center">{{ item.title }}</h3>
            <form action="" method="post" style="text-align:center" novalidate> {{ form.csrf_token }}
                <div><h4>{{ form.star_rating.label }}</h4><br>{{ form.star_rating }}</div>
                <div><h4>{{ form.written_rating.label }}</h4><br>{{ form.written_rating }}</div><br><br>
                <div>{{ form.submit() }}</div>
            </form>
        </div>
    </div>
{% endblock %}